# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table
- Introduce arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

|**Data Science Tools**|
|-|
|JupyterLite|
|RStudio|
|VS Code|

Below are a few examples of evaluating arithmetic expressions in Python.
- 1+1
- (1*2)-5

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Joana Santos